.Radio{
    text-align: center;
    border: 3px solid rgb(220, 20, 113);
    padding: .05px;
}
body{
    background-color: black;
    background-image: linear-gradient(225deg, #21D4FD 0%, #de25ff 70%, #ffffff 100%);
}
.nav {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: rgb(236, 138, 26);
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;

  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #42daa2;
    color: white;
  }
h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: black;
    color: white;
    text-align: center;
}
.mail{
    width: 20px;
    height: 20px;
}
.ddress{
    width: 20px;
    height: 25px;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(220, 20, 87);
    color: black;
    font-size: 56px;
    text-decoration: underline;
    text-align: center;
}

#slider{
    overflow: hidden;
}
#slider figure{
    display: flex;
    align-content: center;
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 15s slider infinite;
}
#slider figure img{
    width: 20%;
    float: left;
}
@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
} 

.TimePrices{
    text-align: center;
    border: 3px dashed black;
    padding: .05px;

}
.Food{
    text-align: center;
    border: 3px dashed rgb(44, 30, 168);
    padding: .05px;
}

.button {
    background-color: #0b0ff5;
    border: none;
    color: rgb(241, 103, 10);
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;

  }
  
  .button:hover {opacity: 1}
  .Rulez{
      border-style: groove;
      border-color: goldenrod;
      border-width: 14px;
      padding: 8px;
  }
  .WordRulez{
      contain: content;
      background-color: red;
      color: white;

  }
  .back{
      background-color: gray;
  }
